<button mat-mini-fab aria-label="Add rotation" (click)="addTransformation.next(TransformationType.Rotation); $event.stopPropagation()">
    RO
  </button>
  <button mat-mini-fab aria-label="Add translation" (click)="addTransformation.next(TransformationType.Translation); $event.stopPropagation()">
    TR
  </button>
  <button mat-mini-fab aria-label="Add scaling" (click)="addTransformation.next(TransformationType.Scaling); $event.stopPropagation()">
    SC
  </button>
  <button mat-mini-fab aria-label="Add shear" (click)="addTransformation.next(TransformationType.Shearing); $event.stopPropagation()">
    SH
</button>