:host {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  justify-content: center;
  background-color: aliceblue;
  opacity: 0.33;

  transition:
    opacity 0.4s;
}

:host:first-child {
 button:first-child {
  border-top-left-radius: 15px;
 }
 button:last-child {
  border-bottom-left-radius: 15px;
 }
}

:host:last-child {
  button:first-child {
    border-top-right-radius: 15px;
   }
   button:last-child {
    border-bottom-right-radius: 15px;
   }
}

button {
  border: none;
  padding: 1em;
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s;
}

div.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:host:hover {
  opacity: 1;

  button {
    background-color: brown;
    opacity: 1;
  }

  button:hover {
    background-color: red;
    visibility: visible;
  }
}

