<ng-content select="[before]" />
<div class="button-container">
  <button aria-label="Add rotation" (click)="addTransformation.next(TransformationType.Rotation); $event.stopPropagation()">
    RO
  </button>
  <button aria-label="Add translation" (click)="addTransformation.next(TransformationType.Translation); $event.stopPropagation()">
    TR
  </button>
  <button aria-label="Add scaling" (click)="addTransformation.next(TransformationType.Scaling); $event.stopPropagation()">
    SC
  </button>
  <button aria-label="Add shear" (click)="addTransformation.next(TransformationType.Shearing); $event.stopPropagation()">
    SH
</button>
</div>
<ng-content select="[after]"/>