<app-svg-graphics-view 
  [matrices]="matrices()"
  [colors]="colors()"
  [hoveredPicture]="hoveredPicture"
  [hoveredTransformation]="hoveredTransformation"
  [model]="model()"
/>
<div class="bottom-bar" [formGroup]="matrixForm">
  <div formArrayName="matrixArray" cdkDropList #doneList="cdkDropList" class="equation-list"
    cdkDropListOrientation="horizontal" cdkDropListLockAxis="x" (cdkDropListDropped)="drop($event)">
    @for (alias of matrixArray.controls; track alias; let i = $index) {
    @if ($first) {
      <div class="math" before>x' =</div>
      <app-add-transformations [color]="colors()[i]" (addTransformation)="addTransformation($event,i)" (mouseover)="hoverPicture(i)"
      (mouseout)="hoverPicture(-1)"></app-add-transformations>
    }
      <app-matrix [formControlName]="i"  [class.selected]="hoveredTransformation === i" (mouseover)="hoverTransformation(i)"
      (mouseout)="hoverTransformation(-1)" (deleteMatrix)="deleteTransformation(i)">
      </app-matrix>
    <app-add-transformations [color]="colors()[i+1]" (addTransformation)="addTransformation($event,i+1)" (mouseover)="hoverPicture(i+1)"
      (mouseout)="hoverPicture(-1)" />
      @if ($last) {
      <div class="math source" after>x
        <div class="button-container ">
        <button class="icon" (click)="model.set('smiley')">
            sentiment_satisfied
        </button>
        <button class="icon" (click)="model.set('home')">
          home
        </button>
        </div>
        </div>
      }
    }
  </div>
</div>