:host {
    height: 100vh;
    gap: 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: light-dark(#9FB4B6,#3F4D4F);
}

app-svg-graphics-view {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.canvas {
    flex-grow: 1;
}

div.equation-list {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 0px;
    margin: 1ex;
    border-radius: 1ex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #4d4d4d transparent;
    scrollbar-gutter: stable;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    gap: 10px;
}

.cdk-drag-preview {
    cursor: move;
}

.cdk-drag-placeholder {
    opacity: 0.5;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

math {
    font-size: xxx-large;
}

.source {
    display: flex; 
    flex-direction: row;
    margin-left: 0.5ex;
    align-items: center;

    div button {
        font-size: 24pt;
        margin: 0pt;
        padding: 8pt;
    }

    :hover div button {
        opacity: 1;
    }
}