:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer:hover {
  input[type="range"] { 
    visibility: visible; 
  }
}

.header {
  display: flex; 
  flex-direction: row; 
  align-items: stretch;
  position: relative; 
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  opacity: 0;
}

.dragHandle {
  cursor: grab;
  height: 20px;
  padding: 0ex 1ex;
}

.deleteIcon {
  font-size: 1.0em;
  height: 1.2em;
  width: 1.5em;
  display:flex;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  transition: all 0.4s;
  align-items: center;
  justify-content: center;
}

.deleteIcon:hover {
  background-color: red;
  color: white;
}

:host:hover {
  input[type="range"] {
    opacity: 1;
  }
  
  .header {
    opacity: 1;
  }
}

input[type="range"] { 
  width: 70%; 
  margin-top: -1ex;
  opacity: 0;
}

math {
  font-size: 20px;
}

mtable {
  border-spacing: 0px 10px; /* Makes outer parenthesis uggly */
}

mtd {
  min-width: 6ex;
  padding: 1ex 0ex;
}

.highlight {
  border-radius: 1ex;
  font-weight: bold;
}

.selected {
  background-color: rgb(216, 132, 209);
  border-radius: 1ex;
  font-weight: bold;
}