@let dimensions = affectedDimensions$ | async;
@let m = matrix | async;
<div class="header">
    <div class="dragHandle" cdkDragHandle>{{matrixItem.value.transformationType}}</div>
    <mat-icon class="deleteIcon">delete</mat-icon>
</div>

<math xmlns="http://www.w3.org/1998/Math/MathML">
    <mrow>
      <mo>(</mo>
      <mtable>
        @switch (matrixItem.value.transformationType) {
            @case ('Translation') {
                <mtr>
                    <mtd><mn>1</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                    <mtd class="highlight" [class.selected]="dimensions.includes(Dimension.x)"><mn (click)="clickAffectedDimension(Dimension.x, $event)">{{ m.getTranslation().x | number: '1.2-2' }}</mn></mtd>
                  </mtr>
                  <mtr>
                    <mtd><mn>0</mn></mtd>
                    <mtd><mn>1</mn></mtd>
                    <mtd class="highlight" [class.selected]="dimensions.includes(Dimension.y)"><mn (click)="clickAffectedDimension(Dimension.y, $event)">{{ m.getTranslation().y | number: '1.2-2' }}</mn></mtd>
                  </mtr>
                  <mtr>
                    <mtd><mn>0</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                    <mtd><mn>1</mn></mtd>
                  </mtr>
            }
            @case ('Scaling') {
                <mtr>
                    <mtd class="highlight" [class.selected]="dimensions.includes(Dimension.x)" (click)="clickAffectedDimension(Dimension.x, $event)"><mn>{{ m.getRow(0).x | number: '1.2-2' }}</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                  </mtr>
                  <mtr>
                    <mtd><mn>0</mn></mtd>
                    <mtd class="highlight"[class.selected]="dimensions.includes(Dimension.y)" (click)="clickAffectedDimension(Dimension.y, $event)"><mn>{{ m.getRow(1).y | number: '1.2-2' }}</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                  </mtr>
                  <mtr>
                    <mtd><mn>0</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                    <mtd><mn>1</mn></mtd>
                  </mtr>
            }
            @case ('Rotation') {
                <mtr>
                    <mtd class="highlight"><mn>{{ m.getRow(0).x | number: '1.2-2' }}</mn></mtd>
                    <mtd class="highlight"><mn>{{ m.getRow(0).y | number: '1.2-2' }}</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                  </mtr>
                  <mtr>
                    <mtd class="highlight">{{ m.getRow(1).x | number: '1.2-2' }}<mn></mn></mtd>
                    <mtd class="highlight">{{ m.getRow(1).y | number: '1.2-2' }}<mn></mn></mtd>
                    <mtd><mn>0</mn></mtd>
                  </mtr>
                  <mtr>
                    <mtd><mn>0</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                    <mtd><mn>1</mn></mtd>
                  </mtr>            
            }
            @case ('Shearing') {
                <mtr>
                    <mtd><mn>1</mn></mtd>
                    <mtd class="highlight" [class.selected]="dimensions.includes(Dimension.x)" (click)="clickAffectedDimension(Dimension.x, $event)"><mn>{{ m.getRow(0).y | number: '1.2-2'}}</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                  </mtr>
                  <mtr>
                    <mtd class="highlight" [class.selected]="dimensions.includes(Dimension.y)" (click)="clickAffectedDimension(Dimension.y, $event)"><mn>{{ m.getRow(1).x | number: '1.2-2'}}</mn></mtd>
                    <mtd><mn>1</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                  </mtr>
                  <mtr>
                    <mtd><mn>0</mn></mtd>
                    <mtd><mn>0</mn></mtd>
                    <mtd><mn>1</mn></mtd>
                  </mtr>
            }
        }
    </mtable>
    <mo>)</mo>
  </mrow>
</math>


@if (matrixItem.value.transformationType === TransformationType.Rotation) {
    <mat-slider discrete [displayWith]="formatRotationLabel" min="-360.0" max="360.0" step="1" value="0" style="width: 100%">
        <input matSliderThumb [formControl]="slider">
    </mat-slider>
} @else {
    <mat-slider min="-10.0" max="10.0" step="0.1" value="10">
        <input matSliderThumb [formControl]="slider">
    </mat-slider>
}