:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer {
    border-radius: 5% / 50%;
    background-color: black
}

.outer:hover {
  mat-slider { 
    visibility: visible; 
  }
}

.inner {
  content: '';
  background: inherit;
  border-radius: 3% / 50%;
  background-color: white;
  margin-left: 0.5ex;
  margin-right: 0.5ex;
  padding: 1.5ex 1ex;

  font-size: 1.3em;
  font-family: "Times New Roman";

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.content {
  visibility: hidden;
  background-color: h;
}

.header {
  display: flex; 
  flex-direction: row; 
  align-items: stretch;

  position: relative; 
  margin-bottom: -1.2ex; 
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  opacity: 0;
}

.dragHandle {
  cursor: grab;
  height: 20px;
  padding: 0ex 1ex;
}

.deleteArea {
  display:flex;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  text-align: center;
  transition: all 0.4s;
  padding: 0 0.75ex 0 0.5ex;
}
.deleteArea:hover {
  background-color: red;

  .deleteIcon {
      color: white;
  }
}

.deleteIcon {
  font-size: 1.0em;
  height: 1.0em;
  width: 1.0em;
}

:host:hover {
  mat-slider { 
    opacity: 1;
  }

  .header {
    opacity: 1;
  }
}

mat-slider { 
  width: 80%; 
  margin-top: -2.75ex;
  opacity: 0;
}

span.highlight {
  border-radius: 1ex;
  font-weight: bold;
  padding: .25ex 1ex;
}

span.selected {
  background-color: rgb(216, 132, 209);
  border-radius: 1ex;
  font-weight: bold;
  padding: .25ex 1ex;
}