:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  accent-color: var(--accent);
}

.outer:hover {
  input[type="range"] { 
    visibility: visible; 
  }
}

.header {
  display: flex; 
  flex-direction: row; 
  align-items: stretch;
  position: relative; 
  background-color: var(--accent);
  border-radius: 15px;
  opacity: 0;
  overflow: hidden;
}

.dragHandle {
  cursor: grab;
  height: 20px;
  padding: 0ex 1ex;
}

.deleteIcon {
  width: 1.5em;
  text-align: center;
  align-content: center;
  cursor: pointer;
  transition: all 0.4s;
}

.deleteIcon:hover {
  background-color: red;
  color: white;
}

:host:hover {
  input[type="range"] {
    opacity: 1;
  }
  
  .header {
    opacity: 1;
  }
}

input[type="range"] { 
  width: 70%; 
  margin-top: -1ex;
  opacity: 0;
}

math {
  font-size: 20px;
}

mtable {
  border-spacing: 0px 10px; /* Makes outer parenthesis uggly */
}

mtd {
  min-width: 6ex;
  padding: 1ex 0ex;
}

.highlight {
  border-radius: 1ex;
  font-weight: bold;
}

.selected {
  background-color: var(--accent);
  border-radius: 1ex;
  font-weight: bold;
}